---
// Layouts
import BaseLayout from "@/layouts/base.layout.astro";
---

<BaseLayout>
  <div class="w-screen h-screen flex items-center justify-center">
    <p class="text-xl">Hello World!</p>
  </div>
</BaseLayout>
